# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs

PATH=$PATH:$HOME/bin
export http_proxy={{ http_proxy }}
export https_proxy={{ https_proxy }}
export no_proxy={{ no_proxy }}
export PATH
