127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ node01 }}	{{ node01_fqdn }} 	{{ node01_name }}
{{ node02 }}	{{ node02_fqdn }} 	{{ node02_name }}
{{ node03 }}	{{ node03_fqdn }} 	{{ node03_name }}
{{ node04 }}    {{ node04_fqdn }}       {{ node04_name }}
{{ node05 }}    {{ node05_fqdn }}       {{ node05_name }}
{{ node06 }}    {{ node06_fqdn }}       {{ node06_name }}
{{ node07 }}    {{ node07_fqdn }}       {{ node07_name }}
{{ node08 }}    {{ node08_fqdn }}       {{ node08_name }}
{{ node09 }}    {{ node09_fqdn }}       {{ node09_name }}
{{ node10 }}    {{ node10_fqdn }}       {{ node10_name }}
{{ node11 }}    {{ node11_fqdn }}       {{ node11_name }}
{{ buildnode }} {{ buildnode_fqdn }}    {{ buildnode_name }}
